.feadback {
  font-family: "Roboto";
  width: 500px;
  background-color: #fff;
  box-shadow: violet;
  margin: 0 auto;
  text-align: center;
}
.btn {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #000;
  color: tomato;
}
